.Rproj.user
.Rhistory
.RData
.Renviron
.cache/
*.parquet
*.rds
*.bib
*.Renviron
definitions.yml

ignore/
data
.vscode/
*.html
*.out
*.swp
inst/extdata/austraits/austraits-7.0.0-full/*
inst/telemetry/telemetry.db
config.yml
